
h3 {
    font-family: Arial;
}
input:focus {
    outline: none;
}

#bg2 {
    background-color: white;
}

.f {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ee1144;
    width: 100%;
}

body {
    background-color: #131619;
}

.container {
    height: 100%;
}

#form {
    padding-top: 15%;
    padding-bottom: 15%;
}

.btn {
    background-color: #ee1144;
    border: none;
}

    .btn:hover {
        background-color: #cc0d3a;
    }



