h1{
    font-family: cursive;
    text-align: center;
    
}
input:focus{
    outline: none;
}    
#bg1 {
    background-color: #ec407a;
    border-radius: 10px 0px 0px 10px;
}
#bg2{
    border-radius: 0px 10px 10px 0px;
}
#name ,#pass{
    background: transparent;
    border: none;
    border-bottom: 1px solid #f48fb1;
    width: 100%;

}html, body {
    height: 100%;
  }
body{
 /*background-image: url(https://image.freepik.com/free-vector/vector-set-social-media-icons_53876-35184.jpg );
   background-size:50%;
   backdrop-filter: blur(2px);*/
   background-color: rgb(20, 19, 19);}
.container{
    height:100%;
}
#form{
    padding-top: 50%;
}
.btn{
    background-color: #e4608c;
    border: none;  
}
.btn:hover{
background-color: #ec407a;

}
.bi{
    font-size: 25px;
    
}
#fb{
    padding-right: 20px;
    color:#1778F2;
}
.bi:hover{
    font-size: 35px;
}
#g{
    color:#DB4437
}